@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="text-white p-5 rounded" style="max-width: 700px; width: 100%; background-color: #274B33;">

        <section>
            <h2 class="text-center">Redefinir Senha</h2>
            <p class="text-center">Insira seu e-mail para redefinir sua senha.</p>

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" style="height: 35px; font-size: 14px; background-color: #ACC2A6;" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="text-center d-flex justify-content-center gap-2 mt-4">
                    <button type="submit" class="btn" style="background-color: #759B6A; color: white; width: 140px; height: 40px;">Redefinir Senha</button>
                    <a href="/" class="btn btn-secondary" style="width: 140px; height: 40px;">Voltar</a>
                </div>
            </form>
        </section>

    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
