@page
@model LoginModel



<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="text-white p-5 rounded" style="max-width: 700px; width: 100%; background-color: #274B33;">

        <section>
            <form id="account" method="post">
                <h2 class="text-center">Login</h2>
                <p class="text-center">Acesse já sua conta.</p>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" style="height: 35px; font-size: 14px; background-color: #ACC2A6;" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label">Senha</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" style="height: 35px; font-size: 14px; background-color: #ACC2A6;" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <p class="text-end mt-2"><a id="forgot-password" class="text-white" asp-page="./ForgotPassword">Esqueceu sua conta?</a></p>
                </div>

                <div class="text-center">
                    <button id="login-submit" type="submit" class="btn" style="background-color: #759B6A; color: white; width: 160px; height: 40px;">Entrar</button>
                </div>

                <div class="mt-4 text-center">
                    <p>Não tem uma conta? <a class="text-white" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Cadastre-se</a></p>
                </div>
            </form>
        </section>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
